# default settings for sessions
  [DEFAULT]
  ConnectionType=initiator
  ReconnectInterval=60
  SenderCompID=MXU
  StartTime=00:00:00
  EndTime=00:00:00
  FileLogPath="."
  FileStorePath="."
  
  # session definition
  [SESSION]
  # inherit ConnectionType, ReconnectInterval and SenderCompID from default
  BeginString=FIX.4.1
  TargetCompID=PINK
  HeartBtInt=20
  SocketConnectPort=9877
  SocketConnectHost=127.0.0.1
  DataDictionary=FIX41.xml